@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'swiper/swiper-bundle.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    color: inherit;
}
.blueGradient{
    background: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
}

@layer components {
    .flexCenter {
        @apply flex gap-[2rem] justify-center items-center flex-wrap;
    };
    .flexStart{
        @apply flex justify-start items-center flex-col;
    };
    .flexBetween{
        @apply flex justify-between items-center gap-2;
    };
    .flexColCenter{
        @apply flex justify-center items-center flex-col;
    };
    .flexColStart{
        @apply flex justify-center items-start flex-col;
    };
    .flexColEnd{
        @apply flex justify-center items-end flex-col;
    };
    .primaryText{
        @apply text-primary font-bold text-[2rem];
    };
    .secondaryText{
        @apply text-secondary text-[0.9rem];
    };
    .orangeText{
        @apply text-orange text-[1.5rem] font-[600];
    };
}
.orangeGradient{
    background: 'linear-gradient(270deg, #ffb978 0%, #ff922d 100%)';
}